<div id="notification">
  <div class="close">close me</div>
  <p>
    <%= mensagem.conteudo %><br>
    from <%= mensagem.user.nome %>
  </p>
  <p><%= link_to 'Me leve até lá agora!', conversa_path(mensagem.conversa) %></p>
</div>
