<p>
  <strong>Nome do Responsável:</strong>
  <%= @paciente.nome_responsavel %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @paciente.nome %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @paciente.estado %>
</p>